<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpringBoot集成Thymeleaf</title>
</head>
<body >
    <!--单选-->
    <span th:if="${sex==1}">
        男：<input type="radio" name="sex" th:value="男"/>
    </span>
    <span th:if="${sex == 2}">
        女：<input type="radio" name="sex" th:value="女"/>
    </span>

    <hr>

    <span th:unless="${sex==1}">
        男：<input type="radio" name="sex" th:value="男"/>
    </span>
    <span th:unless="${sex == 2}">
        女：<input type="radio" name="sex" th:value="女"/>
    </span>

    <div th:switch="${sex}">
        <p th:case="1">性别：男</p>
        <p th:case="2">性别：女</p>
        <p th:case="*">性别：未知</p>
    </div>

</body>
</html>
