<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboot_jsp:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springboot_jsp_Web_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot_jsp" />
        </element>
      </element>
    </root>
  </artifact>
</component>